{% extends "layout.html" %}
{% block body %}
  <h2>Add Person</h2>
	<form action="{{ url_for('add_person') }}" method="post">
        <dl>
	    <dt>Email Address:</dt>
	    <dd><input type="email" name="gcemail"><dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
            <dt>First Name:</dt>
            <dd><input type="text" name="fname"></dd>
            <dt>Last Name:</dt>
            <dd><input type="text" name="lname"></dd>
            <dt>Postal Code:</dt>
            <dd><input type="text" name="postalcode"></dd>
            <dt>Country:</dt>
            <dd><input type="text" name="zcountry"></dd>
        </dl>
        <input type="submit" value="Add Person">
	</form>
{% endblock %}
