{% extends "layout.html" %}
{% block page_content %}

<h2>Home</h2>
  {% if session.gcemail %}
    <h3>People you have added:</h3>
    {% include "display_people.html" %}
  {% endif %}
<p>The Global Citizens Graph is not a social networking application.  The purpose of the graph is political networking.</p>
<p>You can search the graph without logging in.</p>
<p>For more information, see <a href="http://globalreferendum2020.org" style="color:blue;" target="_blank">globalreferendum2020.org</a></p>

<br>

{% endblock %}
