{% extends "layout.html" %}
{% block body %}

<h2>{{ gcemail }}'s profile</h2>

{% if session.gcemail %}
    {% if session.gcemail == gcemail %}
        <h3>Users similar to you:</h3>

          {% for user in similar %}
            <p>
            <a href="{{ url_for('profile', gcemail=user.similar_user) }}">{{ user.similar_user }}</a>
            also blogs about <i>{{ ", ".join(user.tags) }}</i>
            </p>
          {% else %}
            <p>There aren't any users who've blogged about the same tags as you!</p>
          {% endfor %}

        <h3>Your recent posts:</h3>

    {% else %}

  <p>{{ gcemail }} has liked {{ common.likes }} of your posts and
      {% if common.tags %}
      also blogs about <i>{{ ", ".join(common.tags) }}</i>
      {% else %}
      hasn't blogged about any of the same tags
      {% endif %}
  </p>

  <h3>{{ gcemail }}'s recent posts:</h3>

    {% endif %}
{% endif %}

{% include "display_posts.html" %}

{% endblock %}
